<h2>Add week</h2>
<p>
	Select the week you want to add by clicking any day from that week. If the week already exists,
	it will not be overwritten.
</p>

<mat-form-field>
	<mat-label>Enter a date range</mat-label>
	<mat-date-range-input [formGroup]="range" [rangePicker]="picker">
		<input matStartDate formControlName="start" placeholder="Start date" />
		<input matEndDate formControlName="end" placeholder="End date" />
	</mat-date-range-input>
	<mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	<mat-date-range-picker touchUi #picker></mat-date-range-picker>
</mat-form-field>

<div class="add-week__actions">
	<button class="add-week__action-button" type="button" mat-raised-button (click)="onCancel()">
		Cancel
	</button>
	<button
		class="add-week__action-button"
		type="button"
		mat-raised-button
		color="primary"
		(click)="onSubmit()"
	>
		Add!
	</button>
</div>
