:host {
	display: block;
	padding: 16px;
}

.add-meal__actions {
	margin-top: 24px;
	display: flex;
	justify-content: flex-end;
}

.add-meal__action-button {
	margin-left: 8px;
}

.add-meal__redirect {
	font-weight: 700;
	cursor: pointer;
	color: lightseagreen;
}
