<app-header>Ingredients</app-header>
<div class="container">
	<button mat-raised-button color="accent" (click)="onNewIngredientDialogOpen()">
		➕ Add a new ingredient
	</button>

	<mat-divider></mat-divider>

	@if (ingredients$ | async; as ingredients) {
		<div class="table-wrapper">
			<table mat-table [dataSource]="ingredients">
				<ng-container matColumnDef="name">
					<th mat-header-cell *matHeaderCellDef>Name</th>
					<td mat-cell *matCellDef="let ingredient">
						<strong>{{ ingredient.name }}</strong>
					</td>
				</ng-container>

				<ng-container matColumnDef="meals">
					<th mat-header-cell *matHeaderCellDef>Used in meals</th>
					<td mat-cell *matCellDef="let ingredient">
						@for (mealId of ingredient.mealIds; track mealId; let last = $last) {
							@if (!last) {
								{{ mealId | mealIdToName }},
							} @else {
								{{ mealId | mealIdToName }}
							}
						} @empty {
							<i>No assigned meals</i>
						}
					</td>
				</ng-container>
				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr
					mat-row
					(click)="onIngredientClick(ingredient)"
					*matRowDef="let ingredient; columns: displayedColumns"
				></tr>
			</table>
		</div>
	}
</div>
