mat-divider {
	margin: 16px 0;
}

tr[mat-row] {
	cursor: pointer;
	transition: all 0.3s;

	&:hover {
		filter: brightness(85%);
	}

	&:active {
		filter: brightness(65%);
	}
}

.meals__loading-spinner {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
}
