@if (isEditMode) {
	<h3>Editing {{ data.name }}</h3>
} @else {
	<h3>New meal</h3>
}

<mat-form-field appearance="outline">
	<mat-label>Name</mat-label>
	<input matInput [formControl]="name" placeholder="Name of your meal..." />
</mat-form-field>

<mat-form-field appearance="outline">
	<mat-label>Ingredients</mat-label>
	<input
		matInput
		[formControl]="ingredients"
		[matAutocomplete]="autoIngredients"
		placeholder="Select ingredients"
	/>
	<mat-autocomplete #autoIngredients="matAutocomplete">
		@for (option of autocompleteIngredients$ | async; track option) {
			<mat-option [value]="option">{{ option.name }}</mat-option>
		}
	</mat-autocomplete>

	<mat-chip-listbox>
		@for (ingredientId of assignedIngredientIds$$ | async; track ingredientId) {
			<mat-chip (removed)="onIngredientRemoved(ingredientId)">
				{{ ingredientId | ingredientIdToName }}
				<button matChipRemove>
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip>
		}
	</mat-chip-listbox>
</mat-form-field>

<mat-form-field appearance="outline">
	<mat-label>Tags</mat-label>
	<input
		matInput
		[formControl]="tags"
		placeholder="Type in a tag, confirm with Enter"
		(keydown.enter)="onTagEnter()"
	/>
	<mat-hint>Keywords that will be helpful when looking up the meal</mat-hint>
	<mat-chip-listbox>
		@for (tag of assignedTags$$ | async; track tag) {
			<mat-chip (removed)="onTagRemoved(tag)">
				{{ tag }}
				<button matChipRemove>
					<mat-icon>cancel</mat-icon>
				</button>
			</mat-chip>
		}
	</mat-chip-listbox>
</mat-form-field>

<div class="edit-meal__actions">
	@if (isEditMode) {
		<button
			class="edit-meal__action-button edit-meal__action-button--remove"
			type="button"
			mat-raised-button
			color="warn"
			(click)="onDelete()"
		>
			Delete
		</button>
	}
	<button class="edit-meal__action-button" type="button" mat-raised-button (click)="onCancel()">
		Cancel
	</button>
	<button
		class="edit-meal__action-button"
		type="button"
		mat-raised-button
		color="primary"
		(click)="onSubmit()"
	>
		@if (isEditMode) {
			Update!
		} @else {
			Create!
		}
	</button>
</div>
