@if (isEditMode) {
    <h3>Editing {{ data.name }}</h3>
} @else {
    <h3>New meal</h3>
}

<form>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [formControl]="name" placeholder="Name of your meal..." />
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Ingredients</mat-label>
        <input matInput [formControl]="ingredients" [matAutocomplete]="auto" placeholder="Select ingredients" />
		<mat-autocomplete #auto="matAutocomplete">
			@for (option of autocompleteIngredients$ | async; track option) {
				<mat-option [value]="option">{{ option.name }}</mat-option>
			}
		</mat-autocomplete>

		@if (data) {
			<mat-chip-listbox>
				@for (ingredientId of (assignedIngredientIds$$ | async); track ingredientId) {
					<mat-chip>{{ ingredientId | ingredientIdToName }}</mat-chip>
				}
			</mat-chip-listbox>
		}
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Tags</mat-label>
        <input matInput />
		<mat-hint>Keywords that will be helpful when looking up the meal</mat-hint>
		@if (data) {
			<mat-chip-listbox>
				@for (tag of data.tags; track tag) {
					<mat-chip>{{ tag }}</mat-chip>
				}
			</mat-chip-listbox>
		}
    </mat-form-field>

	<div class="edit-meal__actions">
		<button type="button" mat-raised-button (click)="onCancel()">Cancel</button>
		<button type="button" mat-raised-button color="primary" (click)="onSubmit()">
			@if (isEditMode) {
				Update!
			} @else {
				Create!
			}
		</button>
	</div>
</form>
